<header>
    <div class="container">
        <a href="#" class="logo"> Traductor </a>
        <nav>
            <ul>
                <li>
                    <a href="#" routerLink="/agrega"> Agrega </a>
                </li>
                <li>
                    <a href="#" routerLink="/traduce"> Traduce </a>
                </li>
                <li>
                    <a href="#" routerLink="/diccionario"> Diccionario </a>
                </li>
            </ul>
        </nav>
    </div>
</header>

<div class="container">
    <router-outlet></router-outlet>
</div>