/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap');
body {
    margin: 0;
    font-family: 'Nunito', 'sans-serif';
    font-size: 18px;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.container>a {
    color: white;
    text-decoration: none;
}

.container>a.logo {
    font-weight: bold;
}

.container>nav {
    float: right;
}

.container>nav>ul {
    list-style-type: none;
    margin: 0;
    display: flex;
}

.container>nav>ul>li a {
    padding: 1em;
    color: white;
    text-decoration: none;
}

.container>nav>ul>li a:hover {
    background: darken(rgb(111, 0, 255), 10%);
}

header {
    background: rgb(111, 0, 255);
    padding: 1em 0;
}

h1 {
    margin-top: 2em;
}